{% extends "base.html" %}


{% block html_title %} {{ title|striptags }} {% endblock %}

{% block title %} Are you sure? {% endblock %}

{% block content %}
  <form  id="deleteconfirm-form" action={{ submit.url }} method="post">
    {% csrf_token %}

    {{ message }}
    
    <ul class="actions confirm">
    <li><input value="{{ submit.message }}" type="submit" class="button alert"></li>
    {% for action in actions %}
      <li> 
        {{ action }}
      </li>
    {% endfor %}

    </ul>
  </form>
{% endblock %}
