{% extends "base.html" %}


{% block html_title %} {{ context.html_title }} {% endblock %}

{% block title %} {{ context.title }} {% endblock %}

{% block head_tags %}
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
{% endblock %}

{% block content %}
  <form  id="taxonomygeneric-form" action={{ context.action }} method="post">
    {% csrf_token %}
    <ul class="admin-list">
      {{ context.form.as_ul }}
    </ul>
    
    <ul class="actions">
    <li><input type="submit" value={{ context.action_title }} /></li>
    </ul>
  </form>
{% endblock %}
